<div class = "back-link">
  <a ui-sref = "supportRequest-list">< Support Requests</a>
</div>

<div class="well">
  <div class = "row">
    <div class = "col-md-12">
      <strong>Subject: </strong> {{supportRequest['subject']}}
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-6">
      <strong>Id: </strong> {{supportRequest['id']}}
    </div>
    <div class = "col-md-6">
      <strong>Status: </strong> {{supportRequest['status'] | capitalize}}
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-6">
      <strong>Created At: </strong> {{supportRequest['created_at'] | date:'MMM d, yyyy hh:mm a Z'}}
    </div>
    <div class = "col-md-6">
      <strong>Severity: </strong> {{supportRequest['severity'] | capitalize}}
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-6">
      <strong>Created By: </strong> {{supportRequest['customer']}}
    </div>
</div>

<div class = "button-row clearfix">
  <button class="btn btn-default pull-right"
          type="submit"
          ng-show = "(supportRequest['status'] === 'open')"
          ng-click = "closeSupportRequest()" >
    Close
  </button>
  <button class="btn btn-default pull-right"
          type="submit"
          ng-show = "(supportRequest['status'] === 'closed')"
          ng-if = "(currentUser.type === 'Customer')"
          ng-click = "reopenSupportRequest()" >
    Reopen
  </button>
</div>
